body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
header 
{
 background-color: rgb(107, 107, 107);
  font-size: 14pt;
  text-align: center;
}
main
{
  background-color: rgb(160, 159, 159);
  font-size: 14pt;
  text-align:justify;
}
.yesterday img 
{
height: 435px;

border-style: solid;
border-color: bisque;
margin-left: 2cm;
}
.yesterday video
{
  height: 480px;
  width: 720px;
}
.let 
{
  margin-top: 2cm;
}
.let img 
{
  margin-left: 2cm;
  height: 480px;
  width: 380px;
}
.let iframe
{
  height: 480px;
  width: 720px;
}
.yellow 
{
  margin-top: 2cm;
}
.yellow video
{
  height: 480px;
  width: 720px;
}
.yellow img
{
  margin-left: 2cm;
  height: 480px;
  width: 380px;
}