body 
{
  background-image:url(/Images/bg1.jpg),url(/Images/bg2.jpg),url(/Images/bg3.jpg),url(/Images/main_bg.jpg) ;
  background-size: 110pt,110pt,110pt, cover;
  background-position: 5pt 56pt,5pt 176pt,5pt 300pt, 0pt 0pt,center;
  background-attachment:fixed;
  background-repeat: no-repeat;
}
header 
{
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 42pt;
  text-align: right;
  background-image: 
  radial-gradient(closest-side at 50pt 50%,#3A3845,white, #3A3845,white,#3A3845);
  /*background-color:#3A3845;*/
  color: white;
  margin-top: 8pt;
  margin-left: 120pt;
  margin-right: 8pt;
  padding-right: 12pt;
}
main p 
{
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14pt;
  
}
main
{
margin-left: 120pt;
padding-left: 20pt;
padding-right: 10pt;

border-left-width: 20pt ;
border-left-style: solid;
border-left-color: #3A3845;
}
.yesterday,.let,.yellow
{
  padding-top: 2cm;
  padding-bottom: 2cm;
 
}
.yesterday video, .let video, .yellow video
{
  width: 848px;
  height: 480px;
}
.yesterday img,.let img,.yellow img,.gallery img
{
  width: 400px;
  height: 480px;
  padding-left: 1cm;
}

/*Создание счетчика для нумерации гиперссылок в галерее.*/
body {counter-reset: n1;}
.gallery p::before
{counter-increment: n1;
  content: counter(n1) ". ";
}

/*Понятия не имею как сделать пункт №12 Урок 10. */
/*Мне удалось сделать так как нужно в задании только с изображениями из приложения к книге. Однако я совсем не понимаю как работает следующий код и нужен ли он вообще.*/
body {margin: 0px;}
.gallery-item img 
{
  width: 100%;
  height: 100%;
}
body.noscroll {overflow: hidden;}

a[target=gallery] {font-size: 16pt;}

footer
{
  height: 100px;
 
  text-align: center;
}