body 
{
font-family: Arial;
}
header 
{
  font-size: 24pt;
  text-align: center;
}
em 
{
  font-weight: lighter;
}
main 
{
  font-size: 14pt;
  text-align: justify;
}
.drinkImg img
{
  width: 20px;
}
.advertising
{
  font-size: 12pt;
  margin-left: 30pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
}
span 
{
  font-size: 16pt;
  font-weight: bold;
}
footer
{
  text-align: right;
}
p.copyright 
{
  text-align: left;
}
p.greetings
{
  font-weight: bold;
  font-size: 24pt;
}
.nav_panel
{
  float: left;
  width: 150px;
  margin: 10px 30px 10px 0px;
  padding: 10px;
  border: black medium double;
  border-radius: 10px;
}
nav
{ 
font-size: 20pt;
margin-top: 5px;
margin-bottom: 5px;
}
/*Таблица для второго документа "Site2""Site3" */
table.pricelist, table.Catalog_sashimi
{
  margin-left: auto;
  margin-right: auto;
}
table.pricelist th, table.pricelist td, 
{
  border: gray solid thin;
  padding: 4px;
}
table.pricelist thead 
{
  color: white;
  background-color: gray;
}
table.pricelist tfoot 
{
  text-align: center;
  font-style: italic;
}
table.Catalog, table.Catalog_sashimi
{
border-collapse: collapse;
margin: auto;
}
table.Catalog td, table.Catalog_sashimi
{
border-top: black thin dotted;
border-bottom: black thin dotted;
padding: 10px;
}

