body 
{
font-family: Arial;

}
header 
{
  font-size: 24pt;
  text-align: center;
 }
em 
{
  font-weight: lighter;
}
main 
{
  font-size: 14pt;
  text-align: justify;
}
.main_text /*просто решил подвинуть текст на главной странице*/
{
  padding-left: 20%;
}
.drinkImg img
{
  width: 20px;
}
.advertising
{
  font-size: 12pt;
  margin-left: 30pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
}
span 
{
  font-size: 16pt;
  font-weight: bold;
}

p.copyright 
{
  text-align: left;
}
p.greetings
{
  font-weight: bold;
  font-size: 24pt;
}
.nav_panel
{
  float: left;
  width: 150px;
  margin: 10px 30px 10px 0px;
  padding: 10px;
  border: black medium double;
  border-radius: 10px;
}
nav
{ 
font-size: 15pt;
margin-top: 5px;
margin-bottom: 5px;
}
/*Таблица для второго документа "Прайс-лист*/
table.pricelist, table.Catalog
{
  margin-left: auto;
  margin-right: auto;
}
table.pricelist th, table.pricelist td
{
  border: gray solid thin;
  padding: 4px;
}
table.pricelist thead 
{
  color: white;
  background-color: gray;
}
table.pricelist tfoot 
{
  text-align: center;
  font-style: italic;
}
table.pricelist tbody th[colspan="2"]
/*Задает выравнивание элементам таблицы в теле таблицы в заголовках таблицы с атрибутом colspan*/
{
  text-align: center;
}
table.pricelist td:last-child:not(:only-child)
{
  background-color: lightgrey;
  border: none;
}
/* Для страниц с суши, сашими и роллы*/
table.Catalog
{
border-collapse: collapse;
margin: auto;
}
table.Catalog td
{
border-top: black thin dotted;
border-bottom: black thin dotted;
padding: 10px;
}
form
{
padding: 0cm 42% 0cm;
}
table.Catalog tr:first-child td 
{
border-top: none;
}
table.Catalog tr:last-child td
{
  border-bottom: none;
}
table.Catalog td p:first-of-type::first-letter
{
  font-size: 24pt;
}
p::selection
{
  color: black;
  background-color: lightgrey;
}
footer
{
  text-align: right;
}