@font-face
{
  font-family:"CaviarDreams" ;
  src: url(/fonts/Caviar_Dreams/CaviarDreams.ttf);
}
@font-face
{
  font-family:"CaviarDreams_Bold" ;
  src: url(/fonts/Caviar_Dreams/Caviar_Dreams_Bold.ttf);
  font-weight:bold;
}
@font-face
{
  font-family:"CaviarDreams_Bolditalic" ;
  src: url(/fonts/Caviar_Dreams/CaviarDreams_BoldItalic.ttf);
  font-weight:bolder;
  font-style:italic;
}
@font-face
{
  font-family:"CaviarDreams_Italic" ;
  src: url(/fonts/Caviar_Dreams/CaviarDreams_Italic.ttf);
  font-style:italic;
}


body 
{
font-family:"CaviarDreams";
}
header 
{
  font-size: 24pt;
  text-align: center;
  text-shadow: 3pt 3pt 5pt darkgrey;
 }
header img
{
  width: 67%;
  min-width: 500px;
  max-width: 700px;
}

em 
{
  font-weight: lighter;
}
main 
{
  font-size: 14pt;
  text-align: justify;
}
.main_text /*просто решил подвинуть текст на главной странице*/
{
  padding-left: 20%;
}
.drinkImg img
{
  width: 20px;
}
.advertising
{
  font-size: 12pt;
  margin-left: 30pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
}
 ol 
{
  list-style-type: upper-roman;
}
span 
{
  font-size: 16pt;
  font-weight: bold;
}

p.copyright 
{
  text-align: left;
}
p.greetings
{
  font-weight: bold;
  font-size: 24pt;
}
.nav_panel
{
  float: left;
  width: 150px;
  margin: 10px 40px 20px 0px;
  padding: 10px;
  
  border-radius: 10px;
  font-size: 15pt;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 1px 5px darkgray,
  0px 0px 20px 5px darkgray inset;


}
/*Таблица для второго документа "Прайс-лист*/
table.pricelist, table.Catalog
{
  margin-left: auto;
  margin-right:auto;
  width: 70%;
  min-width: 12cm;
}
.Catalog h3 
{
width: 50%;
}
.Catalog img
{
width: 100%;
height: 100%;
}
table.pricelist th, table.pricelist td
{
  border: gray solid thin;
  padding: 4px;
}
table.pricelist thead 
{
  color: white;
  background-color: gray;
}
table.pricelist tfoot 
{
  text-align: center;
  font-style: italic;
}
table.pricelist tbody th[colspan="2"]
/*Задает выравнивание элементам таблицы в теле таблицы в заголовках таблицы с атрибутом colspan*/
{
  text-align: center;
}
table.pricelist td:last-child:not(:only-child)
{
  background-color: lightgrey;
  border: none;
}
/* Для страниц с суши, сашими и роллы*/
table.Catalog
{
border-collapse: collapse;
margin: auto;
}
table.Catalog td
{
border-top: black thin dotted;
border-bottom: black thin dotted;
padding: 10px;
}
table.Catalog h3 
{
font-variant: small-caps;
letter-spacing: 2pt;
}
form
{
padding: 0cm 42% 0cm;

}
table.Catalog tr:first-child td 
{
border-top: none;
}
table.Catalog tr:last-child td
{
  border-bottom: none;
}
table.Catalog td p:first-of-type::first-letter
{
  font-size: 24pt;
  vertical-align: top;
}
table.Catalog h3:after
{
content: ":";
}

p::selection
{
  color: black;
  background-color: lightgrey;
}
footer
{
  border-top: dashed 2pt lightgray;
  margin-left: auto;
  text-align: right;
  width: 50%;
  min-width: 300px;
}